section {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.mindaro {
    background-color: #fffd98;
}

.celadon {
    background-color: #bde4a7;
}

.celadon2 {
    background-color: #b3d2b2;
}

.powder-blue {
    background-color: #9fbbcc;
}

.vista-blue {
    background-color: #7a9cc6;
}

.color-panel {
    padding: 10px;
    width: 100px;
    display: inline-block;
    margin: 5px;
}

.font-panel {
    width: 400px;
    display: inline-block;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.font-label {
    text-decoration: underline;
}